<!-- pagina de inicio que extiende a base_generic.html -->
{% extends 'base_generic.html' %}
{% block header %}
    <nav>
        <ul>
            
            <li><a href="{% url 'lista_libros' %}">Lista de Libros</a></li>
            <li><a href="{% url 'crear_usuario' %}">Crear Usuario</a></li>
            <li><a href="{% url 'lista_usuarios' %}">Lista de Usuarios</a></li>
            <li><a href="{% url 'anadir_libro' %}">Añadir Libro</a></li>
            <li><a href="{% url 'crear_autor' %}">Crear Autor</a></li>
            
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <h2>Bienvenido a la sección de Préstamos de la Biblioteca</h2>
  
{% endblock %}  