
{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Lista de Libros{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Lista de Libros Disponibles</h2>
<div class="contenedor_lista">
    <div class="lista">
    <ul>
        {% for libro in libros %}
            <li>
                <a href="{% url 'detalle_libro' libro.titulo %}">{{ libro.titulo }}</a>
            </li>
        {% empty %}
            <li>No hay libros disponibles.</li>
        {% endfor %}
    </ul>
    </div>
</div>
    <a class="enlace_inicio" href="{% url 'index' %}" class="btn btn-primary">Volver a la página de inicio</a>
    
{% endblock %}