{% extends 'base_generic.html' %}

{% block content %}
  <h2>Lista de Usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>DNI</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.first_name }} </td>
        <td>{{ usuario.last_name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.get_rol_display }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No hay usuarios disponibles.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}