{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
</head>
<body>
    <header>
        <h1>Biblioteca</h1>
       {% block header %}
       {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Alexander Alcázar &copy; 2026 Biblioteca</p>
    </footer>
</body>
</html>
