<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    
</head>
<body>
    <header>
        <h1>Biblioteca</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                {% block nav %}{% endblock %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Biblioteca</p>
    </footer>
</body>
</html>